.heading{
    font-size: 35px;
    font-family: unset;
    text-align: -webkit-center;
    margin-top: 50px;
}

.button_table{
    text-align: -webkit-center;
    border: 0px solid black;
    margin-top: 200px;
}

.home-button{
    font-size: 25px;
    margin: 15px;
    font-family: unset;
    font-weight: 400;
}